@import "variables.less";
@import "mixins.less";



// FONTS

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);



//COMMON STYLES

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container-fluid {
	max-width: 1920px;
	padding-left: 0;
	padding-right: 0;
}

* {
	outline: none!important;
}

h1 {
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 72px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

p {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -1px;
	margin-bottom: 48px;
}

.text-main {
	color: @color-text;
}

.text-main-inverse {
	color:@color-text-inverse;
}



// NAV BAR

.navbar {
	margin-bottom: 0;
	border: 0;
	-webkit-border-radius: 0;
	        border-radius: 0;
	
	.container {
		padding: 0;
	}
}

.navbar-default {
	background-color: transparent;
	
	h1 {
		margin-top: 74px;
		margin-left: 8px;
		letter-spacing: -2px;
		text-transform: none;
		
		a::first-letter {
			padding-right: 3px;
		}
	}
	
	.navbar-brand {
		font-family: 'Pacifico', cursive;
		font-size: 72px;
		
		&,
		&:active,
		&:visited,
		&:hover {
			color: @color-text-inverse;
		}
	}
	
	.navbar-nav {
		font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		word-spacing: -1px;
		
		li:nth-child(1n+2) {
			margin-left: 56px;
		}

		li a {
			padding: 14px 0 4px 0;
		}

		li,
		li.active {

			a,
			a:hover,
			a:active,
			a:visited
			 {
				color: @color-text-inverse;
				border-bottom: 2px solid transparent;
				
				&:hover {
					border-bottom: 2px solid @color-text-inverse;
				}
			}
		}
	}
}



// HEADER

header {
	background: url("../img/Header.jpg") 0 0 no-repeat;
	background-size: cover;
	height: 1052px;
}

.header-head {
	h1 {
		margin-top: 243px;
		margin-bottom: 213px;
	}
}

.header-text {
	color: @color-text-inverse;
	
	h1 {
		font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 71.75px;
		font-weight: 400;
		letter-spacing: -2px;
		text-transform: none;
	}

	a {
		color: @color-text-inverse;
		font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 48px;
		font-weight: 500;
		letter-spacing: -1px;
		text-transform: uppercase;
		border: 3px solid @color-text-inverse;
		padding: 20px 59px;
	}
}



// INTRO

.intro {
	padding-top: 75px;
	padding-bottom: 129px;
	
	h1 {
		margin-bottom: 42px;
	}
}



// FEATURED WORK
.featured_work {
	background-color: @color-main;
	padding-top: 62px;
	
	.clearfix();
	
	h1 {
		margin-bottom: 74px;
	}
}

.featured-img {
	margin-top: 43px;
}

.featured-img-first {
	float: left;
	width: calc((100% - 1170px) / 2);
	height: 1053px;
	overflow: hidden;
	
	img {
		min-width: 375px;
		min-height: 1053px;

	}
}

.featured-img-last {
	float: right;
	width: calc((100% - 1170px) / 2);
	height: 1053px;
	overflow: hidden;
	
	img {
		min-width: 375px;
		min-height: 1053px;
		
	}
}

.featured-img-center {
	float: left;
	width: 1170px;
	height: 1053px;
}

.featured-img-center-1,
.featured-img-center-2 {
	width: 50%;
	float: left;
}

.featured-img-center-2 {
	position: relative;
}

.featured-img-text {
	position: absolute;
	width: 80%;
	padding: 44px 40px;	
	background-color: @color-main;
	bottom: 26%;
	right: 10%;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	h2 {
		font-size: 48px;
		margin-bottom: 60px;
	}

	p {
		font-size: 36px;
	}
}




