@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);
.container-fluid {
  max-width: 1920px;
  padding-left: 0;
  padding-right: 0;
}
* {
  outline: none!important;
}
h1 {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: -1px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}
p {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  p {
    font-size: 20px;
  }
}
.text-main {
  color: #515f67;
}
.text-main-inverse {
  color: white;
}
.navbar {
  margin-bottom: 0;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.navbar .container {
  padding: 0;
}
@media (max-width: 767px) {
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.navbar-default {
  background-color: transparent;
}
.navbar-default h1 {
  margin-top: 74px;
  margin-left: 8px;
  letter-spacing: -2px;
  text-transform: none;
}
.navbar-default h1 a::first-letter {
  padding-right: 3px;
}
@media (max-width: 767px) {
  .navbar-default h1 {
    margin: 30px;
  }
}
.navbar-default .navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 72px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-brand {
    font-size: 36px;
  }
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand:hover {
  color: white;
}
.navbar-default .navbar-nav {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: -1px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    font-size: 16px;
  }
}
.navbar-default .navbar-nav li:nth-child(1n+2) {
  margin-left: 56px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav li:nth-child(1n+2) {
    margin-left: 22px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav li:nth-child(1n+2) {
    margin-left: 20px;
  }
}
.navbar-default .navbar-nav li a {
  padding: 14px 0 4px 0;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav li {
    margin-left: 20px;
  }
}
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li a:active,
.navbar-default .navbar-nav li.active a:active,
.navbar-default .navbar-nav li a:visited,
.navbar-default .navbar-nav li.active a:visited {
  color: white;
  border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li a:hover:hover,
.navbar-default .navbar-nav li.active a:hover:hover,
.navbar-default .navbar-nav li a:active:hover,
.navbar-default .navbar-nav li.active a:active:hover,
.navbar-default .navbar-nav li a:visited:hover,
.navbar-default .navbar-nav li.active a:visited:hover {
  border-bottom: 2px solid white;
}
header {
  background: url("../img/Header.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 1052px;
}
.header-head h1 {
  margin-top: 243px;
  margin-bottom: 213px;
}
.header-text {
  color: white;
}
.header-text h1 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 71.75px;
  font-weight: 400;
  letter-spacing: -2px;
  text-transform: none;
}
@media (max-width: 767px) {
  .header-text h1 {
    font-size: 32px;
  }
}
.header-text a {
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 20px 59px;
}
@media (max-width: 767px) {
  .header-text a {
    font-size: 28px;
    padding: 12px 20px;
  }
}
.intro {
  padding-top: 75px;
  padding-bottom: 129px;
}
.intro h1 {
  margin-bottom: 42px;
}
.featured_work {
  background-color: #14bcdf;
  padding-top: 62px;
}
.featured_work:before,
.featured_work:after {
  content: " ";
  display: table;
}
.featured_work:after {
  clear: both;
}
.featured_work h1 {
  margin-bottom: 74px;
}
.featured-img {
  margin-top: 43px;
}
.featured-img-first {
  float: left;
  height: 1053px;
  overflow: hidden;
}
.featured-img-first img {
  min-width: 375px;
  min-height: 1053px;
}
@media (max-width: 1169px) {
  .featured-img-first {
    display: none;
  }
}
.featured-img-last {
  float: right;
  height: 1053px;
  overflow: hidden;
}
.featured-img-last img {
  min-width: 375px;
  min-height: 1053px;
}
@media (max-width: 1169px) {
  .featured-img-last {
    display: none;
  }
}
.featured-img-center {
  float: left;
  width: 1170px;
  height: 1053px;
}
@media (max-width: 1169px) {
  .featured-img-center {
    width: 100%;
    height: auto;
  }
  .featured-img-center img {
    width: 100%;
    height: auto;
  }
}
.featured-img-center-1,
.featured-img-center-2 {
  width: 50%;
  float: left;
}
@media (max-width: 479px) {
  .featured-img-center-1,
  .featured-img-center-2 {
    float: none;
    width: 100%;
  }
}
.featured-img-center-2 {
  position: relative;
}
.featured-img-text {
  position: absolute;
  width: 80%;
  padding: 60px 40px;
  background-color: #14bcdf;
  bottom: 26%;
  right: 10%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.featured-img-text h2 {
  font-size: 48px;
  margin-bottom: 50px;
}
.featured-img-text p {
  font-size: 36px;
}
@media (max-width: 991px) {
  .featured-img-text {
    bottom: 20%;
    padding: 15px 10px;
  }
  .featured-img-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .featured-img-text p {
    font-size: 20px;
  }
}
.what_do {
  padding-top: 59px;
  padding-bottom: 36px;
}
.what_do h1 {
  margin-bottom: 74px;
}
.what_do p {
  margin-bottom: 106px;
}
.what_do article h1 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 600;
  padding-top: 298px;
  margin-bottom: 18px;
}
@media (max-width: 1199px) {
  .what_do article h1 {
    padding-top: 220px;
  }
}
@media (max-width: 767px) {
  .what_do article h1 {
    font-size: 24px;
  }
}
.what_do article p {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .what_do article p {
    font-size: 20px;
  }
}
.what_do article:nth-child(1) {
  padding-right: 104px;
  padding-left: 0;
}
.what_do article:nth-child(1) h1 {
  background: url("../img/What_Do/idea.png") 0 0 no-repeat;
}
@media (max-width: 1199px) {
  .what_do article:nth-child(1) h1 {
    background: url("../img/What_Do/idea.png") 50% 0 no-repeat;
    background-size: 200px 200px;
  }
}
@media (max-width: 1199px) {
  .what_do article:nth-child(1) {
    padding-right: 0;
  }
}
.what_do article:nth-child(2) {
  padding: 0 52px;
}
.what_do article:nth-child(2) h1 {
  background: url("../img/What_Do/world.png") 0 0 no-repeat;
}
@media (max-width: 1199px) {
  .what_do article:nth-child(2) h1 {
    background: url("../img/What_Do/world.png") 50% 0 no-repeat;
    background-size: 200px 200px;
  }
}
@media (max-width: 1199px) {
  .what_do article:nth-child(2) {
    padding: 0 0;
  }
}
.what_do article:nth-child(3) {
  padding-right: 0;
  padding-left: 104px;
}
.what_do article:nth-child(3) h1 {
  background: url("../img/What_Do/online.png") 0 0 no-repeat;
}
@media (max-width: 1199px) {
  .what_do article:nth-child(3) h1 {
    background: url("../img/What_Do/online.png") 50% 0 no-repeat;
    background-size: 200px 200px;
  }
}
@media (max-width: 1199px) {
  .what_do article:nth-child(3) {
    padding-left: 0;
  }
}
.contact {
  background: url("../img/Footer.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 971px;
}
.contact-head h1 {
  margin-top: 178px;
  margin-bottom: 140px;
}
.contact-head p {
  margin-top: 142px;
}
.contact-head a {
  padding-left: 96px;
  padding-right: 96px;
}
@media (max-width: 767px) {
  .contact-head a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
footer {
  background-color: #14bcdf;
  color: white;
  padding: 40px 0;
}
footer p {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  footer p {
    font-size: 18px;
  }
}
